@if (loading()) {
<app-skeleton-about />
} @else {
<article class="my-4">
  <h3 class="text-2xl font-semibold">Pokedex data</h3>
  <div class="grid grid-cols-6 gap-2 mt-4">
    <div class="col-span-3">
      <p class="text-base font-medium -mb-1">Height</p>
      <p class="text-lg font-medium text-gray-600">
        {{ pokemon().height }}
      </p>
    </div>

    <div class="col-span-3">
      <p class="text-base font-medium -mb-1">Weight</p>
      <p class="text-lg font-medium text-gray-600">
        {{ pokemon().weight }}
      </p>
    </div>

    <div class="col-span-6">
      <p class="text-base font-medium -mb-1">Abilities</p>
      <p class="text-lg font-medium text-gray-600">
        @for (ability of pokemon().abilities; track $index) {
        <span class="mr-2">{{ ability | uppercase }}</span>
        }
      </p>
    </div>
  </div>
</article>
}
