<article class="card">
  @defer(on viewport) {
  <div class="card__descripiton">
    <h3 class="card__number">{{ pokemon().id | serialization }}</h3>
    <h1 class="card__title">{{ pokemon().name | titlecase }}</h1>

    <div class="flex gap-2 mt-4">
      @for (type of pokemon().types; track $index) {
      <div class="tag tag--{{ type }}">
        <img src="assets/img/{{ type }}.png" [alt]="type" class="h-4" />
        <span class="tag__text">{{ type | titlecase }}</span>
      </div>
      }
    </div>
  </div>
  <img [src]="pokemon().imageUrl" [alt]="pokemon().name" class="card__img" />
  } @placeholder {
  <p>test cargando</p>
  }
</article>
