
$percentage: 25%;
$types: (
  grass: #75ce6b,
  poison: #b950db,
  fire: #ff6f4b,
  water: #61aef1,
  bug: #95c22e,
  flying: #80a1dd,
  normal: #858dd8,
  electric: #e0c600,
  ground: #f08855,
  fairy: #e97d6a,
  gap: #e84968,
  psychic: #d7a400,
  fighting: #94b3b8,
  rock: #b17958,
  steel: #87b1d0,
  ghost: #711dcc,
  ice: #00aeeb,
  dragon: #4fa7cf
);

:root {
  @each $name, $color in $types {
    --#{$name}-color: #{$color};
    --#{$name}-light: #{lighten($color, $percentage)};
    --#{$name}-dark: #{darken($color, $percentage)};
  }
}

@mixin pokemon-class($name, $color) {
  .bg--#{$name} {
    background-color: var(--#{$name}-color);
  }
  .bg--#{$name}--light {
    background-color: var(--#{$name}-light);
  }
  .bg--#{$name}--dark {
    background-color: var(--#{$name}-dark);
  }
}

@each $name, $color in $types {
  @include pokemon-class($name, $color);
}
