<section>
  <article>
    <h1>{{ pokemon().name | titlecase }}</h1>
    <h2>#{{ pokemon().id | serialization }}</h2>
    <img [src]="pokemon().imageUrl" [alt]="pokemon().name" />
    <div class="flex gap-2 mt-4">
      @for (type of pokemon().types; track $index) {
      <div class="tag tag--{{ type }}">
        <img src="assets/img/{{ type }}.png" [alt]="type" class="h-4" />
        <span class="tag__text">{{ type | titlecase }}</span>
      </div>
      }
    </div>
  </article>

  <article>
    <h3>Pokedex data</h3>
    <div class="grid grid-cols-6 gap-2 mt-4">
      <div class="col-span-3">
        <p>{{ pokemon().height }}</p>
        <p>Height</p>
      </div>
      <div class="col-span-3">
        <p>{{ pokemon().weight }}</p>
        <p>Weight</p>
      </div>
      <div class="col-span-3">
        @for (ability of pokemon().abilities; track $index) {
        <span class="mr-2">{{ ability }}</span>
        }
        <p>Abilities</p>
      </div>
    </div>
  </article>
</section>
